<html>
        <head>
                <link rel="stylesheet" href="styles2.css">
            </head>
<body>
  <img src="task.png" width="400" height="300" />
  <h1>Enter new Task:</h1>
  <form action="newTask" method="POST">
    Task Name <input type="text" name="taskname" /> <br />
    Task Due Date <input type="String" name="taskduedate" /> <br />
    Task Description <input type="text" name="taskdescription" /><br />
    <button>Submit</button>
  </form>
  Click <a href="/"> HERE</a> to return to the Home Page
</body>
</html>